#set ( $packageName = $shortcut.packageName($api) )
#parse ( "templates/forOperation.vm" )
#set ( $methodName = $params.methodName )
#set ( $successResponse = $operation.responses.get('200') )
package ${option.javaGroupId}.${packageName}.service.${methodName.toLowerCase()};

import lombok.Data;

@Data
public class ${methodName}Request {
#foreach ( $parameter in $operation.parameters )
#if ( $parameter.in == 'path' )
    private ${utils.java.toType($parameter.type, $parameter.format)} ${utils.case.lowerCamelCase($parameter.name)};
#elseif ( $parameter.in == 'header' )
#if ( $parameter.name == 'X-Forwarded-For' )
    private String sourceIp;
#else
    private ${utils.java.toType($parameter.type, $parameter.format)} ${utils.case.lowerCamelCase($parameter.name)};
#end
#elseif ( $parameter.in == 'query' )
    private ${utils.java.toType($parameter.type, $parameter.format)} ${utils.case.lowerCamelCase($parameter.name)};
#elseif ( $parameter.in == 'body' )
#set ( $requestBodyModelClassName = ${utils.case.upperCamelCase($utils.schema.resolveName($parameter.schema, $api.definitions, $methodName.concat('RequestBody')))} )
    private ${requestBodyModelClassName} body;
#end
#end
}