package ${option.javaGroupId}.${shortcut.packageName($api)};

import lombok.Data;
import org.kohsuke.args4j.Option;

/**
 * Option for on-premises mode
 */
@Data
public class ServerOption {

    @Option(name = "-h", aliases = "--help", usage = "Print usage message and exit")
    private boolean help;

    @Option(name = "--port", usage = "Port number [default: 8080]")
    private int portNumber = 8080;

    @Option(name = "--session-public-key", usage = "Public key for RSA based JWT session")
    private String sessionPublicKey;

    /* JDBC */

    @Option(name = "--jdbc-url")
    private String jdbcUrl;
    @Option(name = "--jdbc-username", depends = {"--jdbc-url"})
    private String jdbcUsername;
    @Option(name = "--jdbc-password", depends = {"--jdbc-url"})
    private String jdbcPassword;

}
